<form id="{{action}}_product_groups_form" action="{{action}}/product_groups">
  <input type="hidden" name="uuid">
  <div class="field">
    <label for="{{action}}_product_groups_name">Nosaukums</label>
    <input type="text" id="{{action}}_product_groups_name" name="name">
  </div>
</form>

<div class="btn_group">
  <button action="{{action}}/product_groups" class="submit" form="{{action}}_product_groups_form"><span class="fa fa-floppy-o fa-4x"></span></button>
  {{#if delete }}
    <button action="delete/product_groups" class="delete"><span class="fa fa-trash fa-4x"></span></button>
  {{/if}}
  <div class="clear"></div>
</div>
