<form id="{{action}}_client_groups_form" action="{{ action }}/client_groups">
  <input type="hidden" name="uuid">
  <div class="field">
    <label for="{{ action }}_client_groups_name">Nosaukums</label>
    <input type="text" id="{{ action }}_client_groups_name" name="name">
  </div>
  <button action="{{ action }}/client_groups" class="submit"><span class="fa fa-check-circle-o fa-4x"></span></button>
</form>
